/***********************************************************************
 *  FineArt Page
 **********************************************************************/
.fineart-page-content {
  height: auto;
}
.fineart-gallery-container {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-container-fineart {
  width: 350px;
}

.project-img-container {
  /* border: 4px whitesmoke solid; */
  box-shadow: 2px 2px 8px 1px rgba(37, 37, 37, 0.123);
  position: relative;
}

.fineart-img-container-med {
  height: 400px;
  width: 300px;
}

.fineart-img-container-long {
  height: 450px;
  width: 300px;
}

/***********************************************************************
 *  MOBILE
 **********************************************************************/

@media only screen and (max-width: 400px) {
  body {
    background-color: var(--vltSalmon);
  }
  .project-container-fineart {
    width: 300px;
  }
  .fineart-img-container {
    height: 380px;
    width: 280px;
  }
}
