@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,300&display=swap');

:root {
  --blue: rgb(115, 183, 192);
  --deSatBlue: #a8c2c9;
  --ltBlue: #d8f7fa;
  --drkBlue: #427377;
  --vvLtGrey: #f1f1f1;
  --vLtGrey: #e6e5e5;
  --ltGrey: #d3d3d3;
  --brightOrangeRed: #ff5a19;
  --orangeRed: #da560a;
  --vLtPink: #fde9e2;
  --vvLtPink: rgb(250, 239, 235);
  --salmon: #fc8b83;
  --ltSalmon: #fdc0bc;
  --vltSalmon: #ffd9d6;
  --drkGrey: #383838;
  --deSatRedDark: #935656;
  --deSatRed: #f06464;
  --almostBlack: #1a1919;
  --font-weight-light: 400;
  --font-weight-bold: 600;
  --font: Raleway, sans-serif;
}

html,
body {
  background-color: var(--vvLtGrey);
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0px 0px;
  overflow-y: scroll;
}

.button {
  height: 80px;
  font-family: var(--font), serif;
  font-size: 40px;
  transition: 0.5s;
  border-radius: 5px;
  border: 2px solid var(--ltGrey);
  background-color: whitesmoke;
  box-shadow: -20px 10px 1px 1px var(--ltGrey);
  color: var(--almostBlack);
}

.button:hover {
  border: 2px solid var(--salmon);
  box-shadow: 10px 20px 1px 1px var(--deSatRed);
}
@media only screen and (max-width: 760px) {
  .button {
    box-shadow: -5px 5px 1px 1px var(--ltGrey);
    :hover {
      box-shadow: -5px 5px 1px 1px var(--deSatRed);
    }
  }
}
