/***********************************************************************
 *  Home Page
 **********************************************************************/

.laptop-hand-svg {
  width: 100%;
  height: 100%;
  position: relative;
  left: -5em;
}
.homepage-text-container {
  margin-top: 36px;
  border-radius: 36px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-text-name {
  font-family: var(--font-heading), sans-serif;
  font-weight: var(--font-weight-bolder);
  text-align: center;
  font-size: 70px;
  color: var(--drkGrey);
}

.hero-text-minor-container {
  font-size: x-large;
  width: 80%;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: var(--font-weight-light);
}
.hero-text-minor {
  padding: 0.5em 0em;
  margin: 0;
}
.homepage-button {
  width: auto;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  box-shadow: -5px 5px 1px 1px var(--drkBlue);
  margin-top: 8px;
  height: fit-content;
  padding: 0.5em 1em;
}

.homepage-button-container {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 2;
}

.homepage-illustrated-name {
  width: 100%;
}

.fa-check {
  margin-right: 10px;
  margin-left: 20px;
  color: var(--drkBlue);
}

.homepage-center-column {
  width: 1000px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  height: 800px;
  position: relative;
}

.laptop-buttons-column {
  margin-top: 5em;
  height: 100%;
  width: 100%;
  display: grid;
}
/***********************************************************************
 *  MOBILE
 **********************************************************************/

/* small mobile screens */
@media only screen and (max-width: 760px) {
  .homepage-center-column {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: auto;
    position: relative;
  }

  .homepage-text-name {
    font-size: 30px;
  }

  .hero-text-minor-container {
    font-size: large;
    width: 90vw;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border: none;
    flex-direction: row;
  }

  .fa-check {
    opacity: 0%;
    position: absolute;
    margin-right: 8px;
    margin-left: 10px;
    color: var(--drkGrey);
  }

  .laptop-buttons-column {
    margin-top: 0em;
  }
  .laptop-hand-svg {
    width: 100vw;
    left: 0;
  }

  .homepage-button {
    padding: 2vw 5vw;
  }
}
