@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

:root {
  --blue: rgb(115, 183, 192);
  --deSatBlue: rgb(168, 194, 201);
  --ltBlue: rgb(216, 247, 250);
  --drkBlue: rgb(103, 133, 136);
  --vvLtGrey: rgb(241, 241, 241);
  --vLtGrey: rgb(223, 222, 222);
  --ltGrey: rgb(211, 211, 211);
  --brightOrangeRed: #ff5a19;
  --orangeRed: rgb(218, 86, 10);
  --vLtPink: rgb(253, 233, 226);
  --vvLtPink: rgb(250, 239, 235);
  --salmon: rgb(252, 137, 129);
  --drkGrey: rgb(56, 56, 56);
  --deSatRedDark: #935656;
  --deSatRed: #f06464;
  --almostBlack: rgb(26, 25, 25);
}

@media only screen and (max-width: 950px) {
  body {
  }

  .page-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    /* border: 2px solid blue; */
    overflow-x: hidden;
  }
  /***********************************************************************
 *  Home Page
 **********************************************************************/

  .hero-content {
    flex-direction: column;
    position: relative;
    /* border: 1px solid coral; */
    width: 350px;
    height: 100vh;
  }

  .hand-drawing {
    top: 150px;
    left: 0%;
    transform: translate(-50%, 0%) rotate(35deg) scaleX(-1);
    /* border: 266tpx solid green; */
    width: 250px;
    height: 400px;
    position: absolute;
    z-index: 5;
  }

  .laptop-hero {
    width: 600px;
    height: 500px;
    position: absolute;
    /* border: 2px solid green; */
    left: 50%;
    transform: translate(-50%, 0%);
    top: 165px;
  }
  .hero-text-1 {
    /* border: 2px solid red; */
    z-index: 5;
    font-family: Rubik Mono One, sans-serif;
    color: var(--drkGrey);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    height: 100px;
    width: 70vw;
    position: relative;
    top: 80px;
    left: 60%;
    transform: translate(-50%, 0%);
    text-shadow: -1px 1px 1px var(--deSatBlue);
  }

  .hero-text-1 p {
    padding: 0px;
    margin: 0px;
    transition: 1s;
  }
  .hero-text-1 p:hover {
    text-shadow: 5px 5px 5px var(--salmon);
  }

  .hero-text-1 i {
    color: var(--drkGrey);
    font-size: 25px;
    margin-right: 8px;
    text-shadow: -3px 3px 2px var(--deSatRed);
  }

  .hero-text-1-inner {
  }

  .hero-text-2 {
    top: -5px;
    transform: rotate(-2deg);
    position: absolute;
    left: 0px;
  }
  .hero-text-3 {
    transform: rotate(-5deg);
    position: absolute;
    top: 45px;
    left: 1px;
  }
  .hero-text-4 {
    transform: rotate(-8deg);
    position: absolute;
    top: 97px;
    left: 3px;
  }

  .hero-button-container {
    /* border: 2px solid purple; */
    transform: rotate(1deg);
    position: absolute;
    left: 50%;
    top: 245px;
    margin-left: 40px;
    transform: translate(-50%, 0%);
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    z-index: 3;
  }

  .hero-button {
    font-size: 18px;
    height: 30px;
    /* box-shadow: 2px 3px 6px rgba(37, 37, 37, 0.2); */
  }

  .hero-button:hover {
    box-shadow: -5px 10px 1px 1px var(--deSatRed);
  }

  #hero-button-1 {
    transform: rotate(-1deg);
    margin-left: 35px;
  }

  #hero-button-2 {
    transform: rotate(4deg);
    margin-left: 30px;
  }

  #hero-button-3 {
    transform: rotate(6deg);
    left: -5px;
  }
  .name-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: Rubik Mono One, sans-serif;
    font-size: 30px;
    top: 10px;
    color: var(--drkGrey);
    margin: 0px;
  }
  .hero-my-name {
    padding: 5px 40px 5px 0px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
    transition: 0.5s;
    padding: 5px 15px;
  }

  #first-name {
    text-shadow: -4px 4px 1px var(--salmon);
    padding-left: 50px;
  }

  #last-name {
    text-shadow: 4px 4px 1px var(--salmon);
    padding-right: 50px;
  }

  #first-name:hover {
    text-shadow: -20px 4px 4px var(--ltBlue);
  }

  #last-name:hover {
    text-shadow: 20px 4px 4px var(--ltBlue);
  }

  .dot {
    height: 100vh;
    width: 200vw;
    background-image: linear-gradient(
      to top left,
      var(--salmon),
      var(--vvLtPink)
    );
    border-radius: 50%;
    position: absolute;
    top: 80%;
    right: 20%;
    transform: translate(50%, -50%);
    z-index: 1;
  }

  .dot2 {
    height: 100vh;
    width: 200vw;
    background-image: linear-gradient(to right, var(--white), var(--vltSalmon));
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 0px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  /***********************************************************************
 *  About
 **********************************************************************/

  #bio-container {
    width: 350px;
    height: 100vh;
    flex-direction: column;
  }
  #bio-text-container {
    width: 350px;
  }
  #self-img {
    top: 90px;
    left: 25px;
    width: 300px;
    height: 365px;
  }

  #palm-tree {
    top: -70px;
    left: -100px;
    width: 300px;
    height: 700px;
  }

  .blocking {
    width: 350px;
    z-index: 9;
    top: 500px;
  }

  #bio-text-container {
    z-index: 10;
    top: 500px;
  }
  /***********************************************************************
 *  Work
 **********************************************************************/
  .work-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
    height: 100vh;
    align-items: center;
  }

  .container-tags {
    width: 325px;
    height: 325px;
    border-radius: 10px;
    margin: 20px 0px;
  }

  .fineart-container {
    box-shadow: -10px 10px 1px 1px var(--blue);
  }

  .web-container {
    box-shadow: 10px 10px 1px 1px var(--blue);
  }
  .tag-text {
    font-size: 60px;
  }

  .web-text {
    top: 0px;
    left: 85px;
  }

  .fineart-text {
    top: 20px;
  }
  .fineart-logo {
    width: 300px;
    top: 70%;
    left: 5%;
  }
  .web-logo {
    width: 250px;
    top: 50px;
    left: 30px;
  }
  /***********************************************************************
 *  Gallery Page
 **********************************************************************/
  .gallery-container {
    width: 350px;
  }

  .fineart-img-container {
    width: 275px;
    height: 375px;
  }

  /***********************************************************************
 *  Form
 **********************************************************************/
  .form-boxes {
    box-shadow: -5px 10px 1px 1px var(--blue);
  }
  .button {
    box-shadow: -5px 10px 1px 1px var(--drkBlue);
  }
}
