@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

:root {
  --blue: rgb(115, 183, 192);
  --deSatBlue: rgb(168, 194, 201);
  --ltBlue: rgb(216, 247, 250);
  --drkBlue: rgb(103, 133, 136);
  --vvLtGrey: rgb(241, 241, 241);
  --vLtGrey: rgb(223, 222, 222);
  --ltGrey: rgb(211, 211, 211);
  --brightOrangeRed: #ff5a19;
  --orangeRed: rgb(218, 86, 10);
  --vLtPink: rgb(253, 233, 226);
  --vvLtPink: rgb(250, 239, 235);
  --salmon: rgb(252, 137, 129);
  --drkGrey: rgb(56, 56, 56);
  --deSatRedDark: #935656;
  --deSatRed: #f06464;
  --almostBlack: rgb(26, 25, 25);
}

@media only screen and (max-width: 950px) {
  body {
    background-color: var(--drkBlue);
  }

  .page-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    /* border: 2px solid blue; */
    overflow-x: hidden;
  }
  /***********************************************************************
 *  Home Page
 **********************************************************************/

  .hero-content {
    flex-direction: column;
    position: relative;
    border: 1px solid coral;
    width: 350px;
    height: 100vh;
  }

  .hand-drawing {
    top: 110px;
    left: -20px;
    transform: rotate(35deg) scaleX(-1);
    /* border: 266tpx solid green; */
    width: 150px;
    height: 400px;
    position: absolute;
    z-index: 1;
  }

  .laptop-hero {
    width: 900px;
    height: 400px;
    position: absolute;
    /* border: 2px solid green; */
    left: -275px;
    top: 250px;
  }
  .hero-text-1 {
    z-index: 1;
    font-family: Rubik Mono One, sans-serif;
    color: var(--drkGrey);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    height: 200px;
    width: 350px;
    position: relative;
    top: 120px;
    left: 90px;
    text-shadow: -1px 1px 1px var(--deSatBlue);
    border: 2px solid lime;
  }

  .hero-text-1 p {
    padding: 0px;
    margin: 0px;
    transition: 1s;
  }
  .hero-text-1 p:hover {
    text-shadow: 5px 5px 5px var(--salmon);
  }

  .hero-text-1 i {
    color: var(--drkGrey);
    font-size: 25px;
    margin-right: 8px;
    text-shadow: -3px 3px 2px var(--deSatRed);
  }

  .hero-text-2 {
    top: -30px;
    transform: rotate(0deg);
    position: absolute;
    left: 0px;
  }
  .hero-text-3 {
    transform: rotate(2deg);
    position: absolute;
    top: 100px;
    left: 10px;
  }
  .hero-text-4 {
    transform: rotate(3deg);
    position: absolute;
    top: 145px;
    left: 0px;
  }

  .hero-button-container {
    /* border: 2px solid purple; */
    transform: rotate(1deg);
    position: absolute;
    left: 150px;
    top: 300px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    z-index: 3;
  }

  .hero-button {
    font-size: 18px;
    height: 40px;
    box-shadow: 2px 5px 10px rgba(37, 37, 37, 0.2);
  }

  .hero-button:hover {
    box-shadow: -5px 10px 1px 1px var(--deSatRed);
  }

  .hero-my-name {
    font-family: Rubik Mono One, sans-serif;
    position: absolute;
    font-size: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 7px 20px;
  }

  #first-name {
    color: var(--drkGrey);
    left: -10px;
    top: -20px;
    text-shadow: -4px 4px 1px var(--salmon);
    padding-left: 20px;
    transition: 0.5s;
  }

  #last-name {
    color: var(--drkGrey);
    left: 150px;
    top: -20px;
    text-shadow: 4px -4px 1px var(--salmon);
    padding-right: 20px;
    transition: 0.5s;
  }

  #first-name:hover {
    text-shadow: -20px -4px 4px var(--ltBlue);
  }

  #last-name:hover {
    text-shadow: 20px 4px 4px var(--ltBlue);
  }
  /***********************************************************************
 *  About
 **********************************************************************/

  #bio-container {
    width: 350px;
    height: 100vh;
    flex-direction: column;
  }
  #bio-text-container {
    width: 350px;
  }
  #self-img {
    top: 90px;
    left: 25px;
    width: 300px;
    height: 365px;
  }

  #palm-tree {
    top: -70px;
    left: -100px;
    width: 300px;
    height: 700px;
  }

  .blocking {
    width: 350px;
    z-index: 9;
    top: 500px;
  }

  #bio-text-container {
    z-index: 10;
    top: 500px;
  }
  /***********************************************************************
 *  Work
 **********************************************************************/
  .work-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
    height: 100vh;
    align-items: center;
  }

  .container-tags {
    width: 325px;
    height: 325px;
    border-radius: 10px;
    margin: 20px 0px;
  }

  .fineart-container {
    box-shadow: -10px 10px 1px 1px var(--blue);
  }

  .web-container {
    box-shadow: 10px 10px 1px 1px var(--blue);
  }
  .tag-text {
    font-size: 60px;
  }

  .web-text {
    top: 0px;
    left: 85px;
  }

  .fineart-text {
    top: 20px;
  }
  .fineart-logo {
    width: 300px;
    top: 70%;
    left: 5%;
  }
  .web-logo {
    width: 250px;
    top: 50px;
    left: 30px;
  }
  /***********************************************************************
 *  Gallery Page
 **********************************************************************/
  .gallery-container {
    width: 350px;
  }

  .project-img {
  }

  /***********************************************************************
 *  Form
 **********************************************************************/
  .form-boxes {
    box-shadow: -5px 10px 1px 1px var(--blue);
  }
  .button {
    box-shadow: -5px 10px 1px 1px var(--drkBlue);
  }
}
