@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,100;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
/***********************************************************************
 *  NavBar
 **********************************************************************/
.navbar {
  background-color: rgb(230, 230, 230);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 2px;
}

.link-container {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navlink {
  color: rgb(56, 56, 56);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.navlink:hover {
  text-shadow: 2px 2px 10px #c7c7c7;
  color: rgb(48, 48, 48);
  transform: scale(1.05);
}

/***********************************************************************
 *  Work
 **********************************************************************/

.work-container {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  justify-content: space-around;
}

.fineart-container {
  border: 10px solid rgb(255, 236, 172);
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  color: rgb(66, 66, 66);
  box-shadow: -40px 40px 1px 1px rgb(255, 187, 0);
  border-radius: 20px;
}

.fineart-container:hover {
  border: 10px solid rgb(252, 137, 129);
  background-color: rgb(247, 247, 247);
  /* box-shadow: -3px 3px 10px 1px rgb(173, 173, 173); */
  color: rgba(37, 37, 37, 0.966);
  box-shadow: 20px 20px 1px 1px rgb(218, 86, 10);
}

.fineart-text {
  font-family: Rubik Mono One, serif;
  font-size: 100px;
  /* border: 2px solid lavender; */
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  text-align: center;
  text-shadow: -3px 3px 2px #ffb766;
  transition: 0.5s;
}

.fineart-img {
  /* border: 2px solid yellow; */
}
.fineart-logo {
  width: 400px;
  /* border: 2px solid black; */
}

.web-container {
  border: 10px solid rgb(255, 236, 172);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  transition: 0.5s;
  color: rgb(95, 95, 95);
  box-shadow: 40px 40px 1px 1px rgb(255, 187, 0);
  border-radius: 20px;
}

.web-container:hover {
  border: 10px solid rgb(252, 137, 129);
  background-color: rgb(247, 247, 247);
  box-shadow: -20px 20px 1px 1px rgb(218, 86, 10);
  color: rgba(37, 37, 37, 0.966);
  text-shadow: 5px 5px 7px #ff5a19;
}
.web-text {
  font-family: Rubik Mono One, sans-serif;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  text-align: center;
  text-shadow: 3px 3px 2px #ffb766;
}

.web-img {
  /* border: 2px solid purple; */
}
.web-logo {
  width: 400px;
  height: 550x;
}

/***********************************************************************
 *  About
 **********************************************************************/
#bio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  border: 2px solid rgb(255, 17, 0);
  padding: 10px;
  position: relative;
}

#self-img {
  width: 650px;
  height: 800px;
  border: 10px solid rgb(252, 137, 129);
  animation-duration: 2s;
}

#bio-text-container {
  border: 2px solid rgb(0, 4, 255);
  position: absolute;
  right: 0px;
  top: 200px;
  width: 450px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation-duration: 2s;
}

.bio-text {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(252, 137, 129);
  right: 150px;
  top: 300px;
  width: 450px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: -10px 10px 1px 1px rgb(218, 86, 10);
  transition: 0.5s;
}
.bio-text:hover {
  box-shadow: 30px -5px 1px 1px #ffb766;
  border: 2px solid rgb(255, 236, 172);
}

.hello-text {
  font-size: 50px;
  font-family: Rubik Mono One, serif;
}

/***********************************************************************
 *  Form
 **********************************************************************/
.form-element {
  display: flex;
  justify-content: stretch;
  background: red;
}

.form-contact {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  border: 2px solid indianred;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  font-family: Rubik Mono One, sans-serif;
  color: rgb(177, 65, 0);
}

.form-contact p {
  margin: 0px;
}
.form-contact label {
  /* background-color: fuchsia; */
}
.form-boxes {
  border: 1px solid rgb(221, 221, 221);
  width: 350px;
  background-color: rgb(241, 241, 241);
  color: rgb(88, 58, 0);
  font-size: 18px;
  font-family: -apple-system;
  border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 30px;
  box-shadow: -10px 10px 1px 1px rgb(218, 86, 10);
}

.small-box {
  height: 40px;
  text-align: center;
}
.form-boxes:hover {
  border: 1px solid #ffecac;
  box-shadow: 10px 20px 1px 1px #ffb766;
}

.button {
  height: 80px;
  font-family: Rubik Mono One, serif;
  font-size: 40px;
  background-color: #fc8981;
  transition: 0.5s;
  border-radius: 5px;
  border: 4px solid rgb(218, 86, 10);
  box-shadow: -20px 10px 1px 1px rgb(177, 65, 0);
}

.button:hover {
  border: 4px solid #ffb766;
  background-color: #ffecac;
  box-shadow: 30px 20px 1px 1px #d6a80f;
  color: rgba(37, 37, 37, 0.966);
}

/***********************************************************************
 *  Gallery Page
 **********************************************************************/
.gallery-container {
  /* border: 2px solid rgb(255, 0, 157); */
  width: 800px;
  display: flex;
  flex-direction: column;
}

.project-container {
  border: 5px solid rgb(255, 255, 255);
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-shadow: 2px 2px 5px 2px rgb(247, 247, 247);
}

.project-img-container {
  /* border: 2px solid orange; */
}

.project-img {
  border: 5px solid rgb(240, 240, 240);
}

.project-text-container {
  border: 2px solid rgb(21, 175, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-title {
  border: 2px solid rgb(148, 0, 25);
  font-family: Rubik Mono One, sans-serif;
}

.project-description {
  border: 2px solid rgb(0, 101, 252);
}

.web-project {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-title {
  font-size: 20px;
}
