/***********************************************************************
 *  Work
 **********************************************************************/

.work-container {
  display: flex;
  height: 600px;
  top: 4rem;
  flex-direction: column-reverse;
  width: 350px;
  overflow-x: hidden;
  align-items: center;
  justify-content: flex-end;
}

.resume-container {
  width: 300px;
  height: auto;
  margin-top: 2em;
  border-radius: 1em;
  padding: 2em;
  transition: 0.5s;
  border: 1px solid var(--vltSalmon);

  &:hover {
    background-color: whitesmoke;
  }
}

.container-tags {
  border: 2px solid transparent;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  margin-top: 2.5em;
  transition: 0.5s;
  color: rgb(66, 66, 66);
  border-radius: 20px;
  position: relative;
  width: 300px;
  align-items: center;
  justify-content: center;
  padding: 2em;

  &:hover {
    cursor: pointer;
  }
}

.fineart-container {
  box-shadow: -10px 10px 1px 1px var(--ltGrey);
  &:hover {
    border: 2px solid var(--ltSalmon);
    color: var(--almostBlack);
    background-color: var(--vLtPink);
    box-shadow: 20px 20px 1px 1px var(--ltSalmon);
  }
}
.web-container {
  box-shadow: 10px 10px 1px 1px var(--ltGrey);

  &:hover {
    border: 2px solid var(--ltSalmon);
    background-color: var(--vLtPink);
    box-shadow: -20px 20px 1px 1px var(--ltSalmon);
    color: rgba(37, 37, 37, 0.966);
  }
}

.tag-text {
  font-family: var(--font);
  font-size: 2em;
  padding-left: 0.5em;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 1em;
  position: relative;
}

@media only screen and (max-width: 950px) {
  .web-logo,
  .fineart-logo {
    display: none;
  }
}
